body { background-color: rgb(139, 249, 255); }
p { font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px; }
h1 { color: rgb(209, 41, 41); text-align: center; }
h2 { font-family: 'Courier New', Courier, monospace; }